@font-face {
    font-family: Graphik;
    src: url(/font.graphik/Graphik-Regular.woff..);
    font-weight: 700;
}

body {
    font-family: Graphik;

    background: #181818;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
}
.header {
    padding: 20px 0;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav {
    display: flex;
    gap: 42px;
}
.header__nav-link {
    color: var(--light-text, #fff);
    font-family: Graphik;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    padding: 10px;
}
.header-button {
    display: inline-flex;
    height: 52px;
    padding: 20px 50px;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    border: 1px solid;
    background: none;
    color: #fff;
}
.work__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.work-text {
    padding: 95px 0 0 0;
    color: var(--light-text, #fff);
    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
    margin: 0;
    text-align: center;
}
.work-text1 {
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.work-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    padding-bottom: 35px;
}
.work-btn1 {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    background: #4452fe;
    border: none;
}
.work-btn2 {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    background: black;
    border: 1px solid;
}

.img {
    width: 100%;
}

.feat-text {
    color: var(--light-text, #fff);
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    padding: 162px 0 0 0;
    margin: 0;
}
.feat-text1 {
    color: var(--light-text, #fff);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.feat {
    display: flex;
    justify-content: center;
}
.mmo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
}
.img2 {
    width: 100%;
    position: relative;
}
.img3 {
    width: 100%;
}

.feat-text1 {
    padding: 0 0 80px 0;
}
.vivi {
    display: flex;
    justify-content: center;
}

.feat-title {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}
.feat-text2 {
    color: var(--light-text, #fff);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.feat-text3 {
    color: var(--light-text, #fff);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlee {
    color: #fff;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    text-align: center;
    padding: 10px;
    margin: 100px 0 0 0;
}
.titlee1 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.content-blocks {
    display: flex;
    width: 476px;
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 57px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    background: var(--light-background, #fff);
}
.text {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: var(--light-text, #fff);
}
.tublock {
    display: flex;
    gap: 33px;
    justify-content: center;
    margin-bottom: 200px;
}
.text1 {
    color: var(--second-text, #5c5c5c);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.btn3 {
    color: var(--light-text, #fff);
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    background: var(--primary, #4452fe);
    border: none;
    height: 52px;
    margin: 0;
    margin-left: 156px;
    padding: 20px 36px;
    display: flex;
    text-align: center;
    align-items: center;
}
.c-img {
    width: 100%;
}
.c-img1 {
    width: 100%;
}
.imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.g-text {
    color: #fff;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    text-align: center;
}
.g-text1 {
    color: var(--light-text, #fff);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.g-block {
    display: flex;
    align-items: center;
    display: grid;
    gap: 33px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.g-block2 {
    display: grid;
    gap: 33px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.g-btn {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    margin-top: 40px;
    height: 52px;
    padding: 10px 30px;
    align-items: center;
    border: 1px solid;
    background: #181818;
    margin-bottom: 150px;
}
.partners-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partners-text {
    color: var(--light-text, #fff);
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    margin: 50px 0 0 0;
}
.partners-text1 {
    color: var(--light-text, #fff);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 0 50px;
}
.partners-svg {
    display: flex;
    gap: 74px;
    justify-content: center;
}
.partners-btn {
    color: var(--light-text, #fff);
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    justify-content: center;
    margin-left: 550px;
    margin-top: 50px;
    height: 52px;
    padding: 10px 30px;
    align-items: center;
    background: #181818;
    border: 1px solid var(--light-text, #fff);
}
.test-text {
    color: var(--light-text, #fff);
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    display: flex;
    justify-content: center;
}
.test-blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.test-block {
    display: flex;
    max-width: 430px;
    padding: 40px;
    gap: 30px;
    border-radius: 10px;
    border: 1px solid #dedede;
    background: var(--dark-background, #181818);
}
.test-text1 {
    color: var(--light-text, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
}
.test-text2 {
    color: var(--light-text, #fff);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.open-box {
    display: flex;
    height: 370px;
    align-items: center;
    gap: 86px;
    border-radius: 33px;
    background: #343434;
    margin-top: 200px;
}
.open-info {
    display: flex;
    flex-direction: column;
    padding-right: 150px;
    padding-left: 150px;
}
.open-text {
    color: var(--light-text, #fff);
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    margin: 0;
}
.open-btn {
    color: var(--light-text, #fff);
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    padding: 20px 36px;
    align-items: center;
    background: var(--primary, #4452fe);
}
.open-img {
    width: 100%;
}

@media screen and (max-width: 810px) {
    .header__nav {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .work__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .g-btn {
        display: inline-block;
        padding: 0%;
        margin: 0;
    }
    .partners-btn {
        padding: 0;
        margin: 0;
    }
    .partners-svg {
        display: grid;
        width: 100px;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 320px) {
    .vivi {
        display: block;
    }
    .tublock {
        max-width: 0%;
        flex-direction: column;
    }
    .content-blocks {
        max-width: 250px;
    }
    .g-block2 {
        display: none;
    }
    .g-block {
        display: block;
        gap: 40px;
        flex-direction: column;
    }
    .test-blocks {
        display:inline-block;
        
        flex-direction: column;

    }
    .open-box {
        flex-direction: column;
        background: none;
        display: grid;
    }
    .open-img {
        width: 400px;
    }
}
